

.vue-form-generator * {
  box-sizing: border-box
}

.vue-form-generator input[type="text"] {
  width: 100%;
}

.vue-form-generator .form-control {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;

  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.vue-form-generator .form-control:not([class*=" col-"]) {
  width: 100%
}

.vue-form-generator span.help {
  margin-left: .3em;
  position: relative
}

.vue-form-generator span.help .icon {
  display: inline-block;
  width: 16px;
  height: 14px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAA+UlEQVQ4ja3TS0oDQRAG4C8+lq7ceICICoLGK7iXuNBbeAMJuPVOIm7cqmDiIncIggg+cMZFaqCnZyYKWtB0df31V1VXdfNH6S2wD9CP8xT3KH8T9BiTcE7XBMOfyBcogvCFO9ziLWwFRosyV+QxthNsA9dJkEYlvazsQdi3sBv6Ol6TBLX+HWT3fcQZ3vGM5fBLk+ynAU41m1biCXvhs4OPBDuBpa6GxF0P8YAj3GA1d1qJfdoS4DOIcIm1DK9x8iaWeDF/SP3QU6zRROpjLDFLsFlibx1jJaMkSIGrWKntvItcyTBKzCcybsvc9ZmYz3kz9Ooz/b98A8yvW13B3ch6AAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 50%
}

.vue-form-generator span.help .helpText {
  background-color: #444;
  bottom: 30px;
  color: #fff;
  display: block;
  left: 0;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  text-align: justify;
  width: 300px;
  transition: all .25s ease-out;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
  border-radius: 6px
}

.vue-form-generator span.help .helpText a {
  font-weight: 700;
  text-decoration: underline
}

.vue-form-generator span.help .helpText:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%
}

.vue-form-generator span.help:hover .helpText {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0)
}

.vue-form-generator .field-wrap {
  display: flex
}

.vue-form-generator .field-wrap .buttons {
  white-space: nowrap;
  margin-left: 4px
}

.vue-form-generator .field-wrap button, .vue-form-generator .field-wrap input[type=submit] {
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px
}

.vue-form-generator .field-wrap button:not(:last-child), .vue-form-generator .field-wrap input[type=submit]:not(:last-child) {
  margin-right: 4px
}

.vue-form-generator .field-wrap button:hover, .vue-form-generator .field-wrap input[type=submit]:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad
}

.vue-form-generator .field-wrap button:active, .vue-form-generator .field-wrap input[type=submit]:active {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.vue-form-generator .field-wrap button:disabled, .vue-form-generator .field-wrap input[type=submit]:disabled {
  opacity: .6;
  cursor: not-allowed
}

.vue-form-generator .hint {
  font-style: italic;
  font-size: .8em
}

.form-group:not([class*=" col-"]) {
  width: 100%
}

.form-group {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem
}

.form-group label {
  font-weight: 400
}

.form-group label > :first-child {
  display: inline-block
}

.form-group.featured > label {
  font-weight: 700
}

.form-group.required > label:after {
  content: "*";
  font-weight: 400;
  color: red;
  padding-left: .2em;
  font-size: 1em
}

.form-group.disabled > label {
  color: #666;
  font-style: italic
}

.form-group.error input:not([type=checkbox]), .form-group.error select, .form-group.error textarea {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, .15)
}

.form-group.error .errors {
  color: red;
  font-size: .8em
}

.form-group.error .errors span {
  display: block;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAiklEQVR4Xt2TMQoCQQxF3xdhu72MpZU3GU/meBFLOztPYrVWsQmEWSaMsIXgK8P8RyYkMjO2sAN+K9gTIAmDAlzoUzE7p4IFytvDCQWJKSStYB2efcAvqZFM0BcstMx5naSDYFzfLhh/4SmRM+6Agw/xIX0tKEDFufeDNRUc4XqLRz3qabVIf3BMHwl6Ktexn3nmAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  padding-left: 17px;
  padding-top: 0;
  margin-top: .2em;
  font-weight: 600
}

.vue-form-generator .field-checkbox input {
  margin-left: 12px
}

.vue-form-generator .field-checklist .dropList, .vue-form-generator .field-checklist .listbox {
  height: auto;
  max-height: 150px;
  overflow: auto
}

.vue-form-generator .field-checklist .dropList .list-row label, .vue-form-generator .field-checklist .listbox .list-row label {
  font-weight: 400
}

.vue-form-generator .field-checklist .dropList .list-row input, .vue-form-generator .field-checklist .listbox .list-row input {
  margin-right: .3em
}

.vue-form-generator .field-checklist .combobox {
  height: auto;
  overflow: hidden
}

.vue-form-generator .field-checklist .combobox .mainRow {
  cursor: pointer;
  position: relative;
  padding-right: 10px
}

.vue-form-generator .field-checklist .combobox .mainRow .arrow {
  position: absolute;
  right: -9px;
  top: 3px;
  width: 16px;
  height: 16px;
  transform: rotate(0deg);
  transition: transform .5s;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGdJREFUOI3tzjsOwjAURNGDUqSgTxU5K2AVrJtswjUsgHSR0qdxAZZFPrS+3ZvRzBsqf9MUtBtazJk+oMe0VTriiZCFX8nbpENMgfARjsn74vKj5IFruhfc8d6zIF9S/Hyk5HS4spMVeFcOjszaOwMAAAAASUVORK5CYII=");
  background-repeat: no-repeat
}

.vue-form-generator .field-checklist .combobox .mainRow.expanded .arrow {
  transform: rotate(-180deg)
}

.vue-form-generator .field-checklist .combobox .dropList {
  transition: height .5s
}

.vue-form-generator .field-input .wrapper, .vue-form-generator .field-input input[type=radio] {
  width: 100%
}

.vue-form-generator .field-input input[type=color] {
  width: 60px
}

.vue-form-generator .field-input input[type=range] {
  padding: 0
}

.vue-form-generator .field-input .helper {
  margin: auto .5em
}

.vue-form-generator .field-label span {
  display: block;
  width: 100%;
  margin-left: 12px
}

.vue-form-generator .field-radios .radio-list label {
  /*display: block*/
  margin-right: 5px;
}

.vue-form-generator .field-radios .radio-list label input[type=radio] {
  margin-right: 5px
}

.vue-form-generator .field-submit input {
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important
}

.vue-form-generator .field-input .wrapper {
  width: 100%
}

.vue-form-generator .field-input .helper {
  margin: auto .5em
}

fieldset {
  border: 0;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-color: #ddd;
}

.customize {
  display: inline-block;
  font-size: 1.1rem;
  color: #fff;
  background-color: #3eaf7c;
  padding: .8rem 1.6rem;
  border-radius: 4px;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #389d70;
  cursor: pointer;
}

.panel-heading {
  color: #fff;
  background-color: #009ec3;
  padding: 0.8rem 1.6rem;
  border-color: #ddd;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-body {
  padding: 15px;
}

.panel-body small {
  display: block;
  margin-bottom: 10px;
}

.seventy {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 69%;
  flex-basis: 64%;
  max-width: 64%;
}

.seventy pre {
  margin-top: 0 !important;
}

.seventy .panel-body {
  padding-top: 0;
  margin-top: 0;
}

.thirty {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 30%;
  flex-basis: 35%;
  max-width: 35%;
}

@media (max-width: 816px) {
  .thirty, .seventy {
    max-width: 100%;
    padding: 0;
  }
}

.redux-builder {
  padding: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.full-width, .full-width span {
  width: 100%;
}

.redux-builder .heading .button {
}

.redux-builder label {
  margin-bottom: 0;
}

.redux-builder .heading {
  width: 100%;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.redux-builder .heading {
}

.redux-builder .heading input, .redux-builder .heading button {
  border-radius: 0;
}

.redux-builder .card {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.redux-builder .heading button {
  width: 100%;
  margin-right: 0 !important;
  border-right: 0;
}

.redux-builder .heading button:focus {
  outline-color: transparent;
  outline-style: none;
}


.redux-builder .form-group {
  margin-bottom: .5rem;
}

.redux-builder .input-group.attributes {
  border: 1px solid #eee;
  padding: .5rem 1rem;
  margin-bottom: .25em;
}

.redux-builder .field-array-group input:first-child {
  width: 80%;
  margin-bottom: .25em;
}

.redux-builder #data-arguments, .redux-builder #attributes, .redux-builder .collapse-container span:first-child {
  width: 100%;
}

.field-custom-object fieldset, #required {
  border: 1px solid #eee;
  padding: .5rem .5rem 0rem .5rem;
}

#required {
  padding: .5rem;
}

.field-array #select2 .input-group span {
  width: 100%;
}

.field-custom-object fieldset fieldset {
  border: none;
  padding: 0;
}

.field-wrap {
  width: 100%;
  display: block;
}

.field-wrap div:first-child {
  width: 100%;
}

.field-switch .field-wrap {
  float: right;
  width: auto;
}


.vue-form-generator .field-radios .radio-list label input[type=radio] {
  /*display: none;*/
  margin-right: .5rem;
  cursor: pointer;
}

.field-custom-object .field-radios .radio-list label {
  cursor: pointer;
}

/*.field-custom-object .field-radios .radio-list label {*/
/*    background: #eee;*/
/*    margin: 0 .5em 0 0;*/
/*    display: inline-block;*/
/*    padding: 0.25rem 0.5rem;*/
/*    font-size: 0.875rem;*/
/*    line-height: 1.5;*/
/*    border-radius: 0.2rem;*/
/*    cursor: pointer;*/
/*}*/

/*.field-custom-object .field-radios .radio-list label:hover {*/
/*    background: #ccc;*/
/*}*/

/*.field-custom-object .field-radios .radio-list .is-checked, .field-custom-object .field-radios .radio-list label.is-checked:hover {*/
/*    color: #fff;*/
/*    background-color: #17a2b8;*/
/*    border-color: #17a2b8;*/
/*}*/


.vue-form-generator .field-switch .field-wrap label {
  position: relative;
  display: block;
  width: 80px;
  height: 30px;
  padding: 0;
  margin: 0 10px 10px 0;
  border-radius: 15px;
  box-shadow: inset 0 -1px #fff, inset 0 1px 1px rgba(0, 0, 0, .05);
  cursor: pointer
}

.vue-form-generator .field-switch input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0
}

.vue-form-generator .field-switch .label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .12), inset 0 0 2px rgba(0, 0, 0, .15)
}

.vue-form-generator .field-switch .label:after, .vue-form-generator .field-switch .label:before {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit
}

.vue-form-generator .field-switch .label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px hsla(0, 0%, 100%, .5)
}

.vue-form-generator .field-switch .label:after {
  content: attr(data-on);
  left: 11px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, .2);
  opacity: 0
}

.vue-form-generator .field-switch input:checked ~ .label {
  background: #6dce6b;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15), inset 0 0 3px rgba(0, 0, 0, .2)
}

.vue-form-generator .field-switch input:checked ~ .label:before {
  opacity: 0
}

.vue-form-generator .field-switch input:checked ~ .label:after {
  opacity: 1
}

.vue-form-generator .field-switch .handle {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 28px;
  height: 28px;
  background: linear-gradient(180deg, #fff 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #fff 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2)
}

.vue-form-generator .field-switch .handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #eee, #fff);
  background-image: -webkit-linear-gradient(top, #eee, #fff);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, .02)
}

.vue-form-generator .field-switch input:checked ~ .handle {
  left: 91px;
  left: calc(100% - 29px);
  box-shadow: -1px 1px 5px rgba(0, 0, 0, .2)
}

.vue-form-generator .field-switch .handle, .vue-form-generator .field-switch .label {
  transition: all .3s ease
}

/*.field-wrap div:first-child*/

/*.multiselect__tags {*/
/*    width: auto !important;*/
/*}*/
/*.multiselect__tags-wrap {*/
/*    width: auto !important;*/
/*}*/


.field-array-group {
  white-space: nowrap;
  width: 100%;
}

.field-array-group input[type=text] {
  width: 100% !important;
  /* default input size isn't wide enough */
  /* keeps input from overflowing its container */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.field-array-group input[type=button] {
  height: 29px;
  /* removes the box from DOM */
  float: right;
  /* alternative to negative margin-top,
  which seems to hide my button behind the input */
  position: relative;
  top: 0px;
  margin-top: -33.5px;
}