// placeholder for test, dont't remove it.

//.content {
//  font-size 30px;
//}

ks-retina-query( media = all, density = 1 )
  media = join( " ", media )
  query = media + " and (-webkit-min-device-pixel-ratio: " + density + "), "
  query += media + " and (min--moz-device-pixel-ratio: " + density + "), "
  query += media + " and (-o-min-device-pixel-ratio: " + density + "/1), "
  query += media + " and (min-device-pixel-ratio: " + density + "), "
  query += media + " and (min-resolution: " + ceil( density * 96 ) + "dpi), "
  query += media + " and (min-resolution: " + density + "dppx)"
  @media query
    {block}

retina-query = ks-retina-query unless ks-no-conflict
ks-hidpi-query = ks-retina-query unless ks-no-conflict
hidpi-query = ks-hidpi-query unless ks-no-conflict

ks-retina-image( img-src, size = false, suffix = "@2x" )
  ext = extname( img-src )
  image-src = pathjoin( dirname( img-src ), basename( img-src, ext ) + ext )
  retina-src = pathjoin( dirname( img-src ), basename( img-src, ext ) + suffix + ext )
  unless size
    size = image-size( img-src, true )
    if size[ 0 ] == 0 && size[ 1 ] == 0
      size = contain

  background-image: url( image-src )
  +ks-retina-query( only screen, 1.3 )
    background-image: url( retina-src )
    background-size: size

retina-image = ks-retina-image unless ks-no-conflict
ks-hidpi-image = ks-retina-image unless ks-no-conflict
hidpi-image = ks-hidpi-image unless ks-no-conflict





.navbar .site-name
  width 186px
  height 50px
  ks-retina-image( '/top_logo.png', 186px 50px, "-2x" )
  //background red
  text-indent -9999px
  overflow hidden
  top -8px

.toasted-container.compatibility-notification
  &.top-right
    right 4vw
  .toasted
    font-weight 400
    width 400px
    background-color $accentColor
    padding 20px 20px
    line-height 1.5
    display block
    box-shadow 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3)
    .action.ripple
      border 1px solid #fff
      color #fff
      float right
      white-space nowrap
      margin 0
    code
      text-decoration underline

@media (max-width: $MQMobile)
  .toasted-container.compatibility-notification
    &.top-right
      right 5vw
    .toasted
      width 80vw


.theme-default-content {
  p {
    margin-top: 16px;
  }
  ol, ul, dl {
    margin: 16px 0 !important;
  }

}

.table-of-contents  {
  ol, ul, dl {
    margin-top: 0 !important;
  }
}