---
# Only the main Sass file needs front matter (the dashes are enough)
---

.bs-docs-masthead,
.bs-docs-header {
    position: relative;
    padding: 30px 15px;
    color: #e8e8e8;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #6f5499;
    background-image: -webkit-linear-gradient(top, #563d7c 0, #6f5499 100%);
    background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
    background-repeat: repeat-x;
    //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0)
}

@import "code-highlight";
@import "docs";
@import "style";